* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.textoSlider h2, .textoSlider p {
  color: white;
}

.granos h2 {
  margin: 0;
}

.parrafoYlista p {
  background-color: rgba(207, 118, 200, 0.65);
  border: solid 2px black;
  border-radius: 3%;
}

.bebidasCalientes .bebida p {
  align-content: center;
  background-color: rgba(207, 118, 200, 0.65);
  border: solid 1px rgb(70, 49, 68);
  border-radius: 2%;
}

.contenedorMapas .bebida p {
  align-content: center;
  background-color: rgba(207, 118, 200, 0.65);
  border: solid 1px rgb(70, 49, 68);
  border-radius: 2%;
}

@media (max-width: 740px) {
  #carouselExampleIndicators .carousel-inner .carousel-item .azul .textoSlider, #carouselExampleIndicators .carousel-inner .carousel-item .naranja .textoSlider, #carouselExampleIndicators .carousel-inner .carousel-item .verde .textoSlider {
    display: none;
  }
}
.masinfo {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10%;
  color: white;
  background-color: black;
  border: solid 1px white;
}

#carouselExampleIndicators .carousel-control-next, #carouselExampleIndicators .carousel-control-prev {
  transform: translate(0, 100px);
}

body {
  height: 100dvh;
  width: auto;
  padding: 0;
  border: 0;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
  border: solid 3px black;
  background: linear-gradient(to bottom, rgb(107, 60, 107), rgb(248, 18, 248));
}
footer .footerDerecha {
  order: 3;
}
footer .footerCentral {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
footer .footerCentral label {
  color: black;
}
footer textarea {
  width: 300px;
  height: 100px;
  resize: none;
  padding-bottom: 10px;
  display: inline;
  margin-top: 15px;
  border: 2px solid black;
}
footer .footerIzquierda {
  order: 1;
}
footer .footerIzquierda ul {
  display: flex;
  justify-content: left;
}
footer .footerIzquierda ul li {
  list-style: none;
}
footer .footerIzquierda ul li .icono {
  width: 40px;
  margin: 10px;
}
footer .footerIzquierda ul li .icono:hover {
  transform: scale(1.2);
}

header .baner {
  height: 225px;
  width: auto;
  padding: 0px;
  overflow: hidden;
  display: block;
}
header .Logoheader {
  height: 100px;
  border: 1px solid white;
  display: block;
  border-radius: 5%;
}
header nav {
  background-color: black;
}
header nav ul li {
  list-style: none;
}
header nav ul li .nav-link:hover {
  transform: scale(1.2);
}
header nav .nav-item {
  align-content: center;
}

main {
  background-image: url(../assests/images/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100dvh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.bebidasCalientes {
  border: solid 2px black;
  border-radius: 2%;
  padding-top: 20px;
  max-width: 800px;
  height: auto;
  margin: 10px 15px;
  background-color: rgba(207, 118, 200, 0.346);
}
.bebidasCalientes .tituloseccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bebidasCalientes .bebida {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px 20px 10px;
  justify-content: space-evenly;
  gap: 15px;
}
.bebidasCalientes .bebida img {
  height: 200px;
  border: solid 6px rgb(90, 12, 35);
  border-radius: 2%;
}
.bebidasCalientes .bebida img:hover {
  transform: scale(1.1);
}

.contenedorFormulario {
  display: grid;
  justify-items: center;
  height: 100dvh;
}
.contenedorFormulario .bootstrapForm {
  padding: 15px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  border-radius: 3%;
  background-color: rgba(207, 118, 200, 0.346);
}
.contenedorFormulario .bootstrapForm label {
  color: black;
}
.contenedorFormulario .bootstrapForm .btn:hover {
  background-color: rgba(207, 118, 200, 0.65);
}

main {
  background-image: url(../assests/images/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100dvh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.fondo {
  background-image: url(../assests/images/centro-grande.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;
}
.fondo .animate__animated {
  margin-bottom: auto;
  font-size: 50px;
  color: white;
}

#carouselExampleIndicators {
  min-width: 100vw;
}
#carouselExampleIndicators .carousel-indicators {
  transform: translate(0px, 13px);
}
#carouselExampleIndicators .carousel-inner {
  min-width: auto;
  background-color: rgba(207, 118, 200, 0.65);
}
#carouselExampleIndicators .carousel-inner .carousel-item div {
  display: flex;
  justify-content: space-around;
}
#carouselExampleIndicators .carousel-inner .carousel-item div .precio {
  background-color: black;
  font-style: inherit;
  color: white;
  border-radius: 50%;
  max-height: 50%;
  margin: 0px;
  display: inline;
  align-self: start;
  padding: 8px;
  transform: translate(-60px, 10px) rotate(16deg);
}
#carouselExampleIndicators .carousel-inner .carousel-item div .logoSlider {
  max-height: 150px;
}
#carouselExampleIndicators .carousel-inner .carousel-item div .textoSlider {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
#carouselExampleIndicators .carousel-inner .carousel-item .azul {
  background: linear-gradient(to right, rgb(49, 112, 133), black);
}
#carouselExampleIndicators .carousel-inner .carousel-item .verde {
  background: linear-gradient(to right, rgb(63, 119, 48), black);
}
#carouselExampleIndicators .carousel-inner .carousel-item .naranja {
  background: linear-gradient(to right, rgb(248, 142, 3), black);
}
#carouselExampleIndicators .carousel-inner .carousel-item img {
  max-height: 150px;
  width: auto;
}

.contenedorMapas {
  border: solid 2px black;
  border-radius: 3%;
  background-color: rgba(207, 118, 200, 0.346);
}
.contenedorMapas .tituloSeccionMapa {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorMapas .bebida {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px 20px 10px;
  justify-content: space-evenly;
  gap: 15px;
}
.contenedorMapas .bebida iframe {
  border-radius: 4%;
}

main {
  background-image: url(../assests/images/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100dvh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.bebida {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px 20px 10px;
  justify-content: space-evenly;
  gap: 15px;
}
.bebida img {
  height: 200px;
  border: solid 6px rgb(90, 12, 35);
  border-radius: 2%;
}

.contenedorGranos {
  background-color: rgba(207, 118, 200, 0.346);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contenedorGranos .granos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contenedorGranos .granos img {
  max-width: 300px;
  border: solid 2px black;
  border-radius: 3%;
}
.contenedorGranos .granos img:hover {
  transform: scale(1.1);
}
.contenedorGranos .granos div {
  background-color: rgba(207, 118, 200, 0.65);
  border: solid 2px black;
  border-radius: 3%;
  padding: 5px;
}
.contenedorGranos .parrafoYlista ul {
  background-color: rgba(207, 118, 200, 0.65);
  font-size: 100%;
  color: black;
  border: solid 2px black;
  border-radius: 3%;
}
.contenedorGranos .contenedorTabla {
  display: flex;
  justify-content: center;
}
.contenedorGranos table {
  width: 100%;
  border-collapse: collapse;
}
.contenedorGranos th, .contenedorGranos td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  text-wrap: wrap;
}
.contenedorGranos th {
  background-color: #f2f2f2;
}
.contenedorGranos .tabla {
  background-color: rgb(247, 186, 236);
  border-radius: 3%;
  max-width: 100%;
}

main {
  background-image: url(../assests/images/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100dvh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

main {
  background-image: url(../assests/images/background-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100dvh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.bebidasCalientes {
  border: solid 2px black;
  border-radius: 2%;
  padding-top: 20px;
  max-width: 800px;
  height: auto;
  margin: 10px 15px;
  background-color: rgba(207, 118, 200, 0.346);
}
.bebidasCalientes .tituloseccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bebidasCalientes .bebida {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 10px 20px 10px;
  justify-content: space-evenly;
  gap: 15px;
}
.bebidasCalientes .bebida img {
  height: 200px;
  border: solid 6px rgb(90, 12, 35);
  border-radius: 2%;
}
.bebidasCalientes .bebida img:hover {
  transform: scale(1.1);
}

@media (max-width: 740px) {
  header .baner {
    width: 100%;
    height: auto;
  }
  header nav .nav {
    flex-direction: column;
    text-align: center;
    display: none;
  }
  header nav .nav .nav-item {
    margin-bottom: 1em;
  }
  #carouselExampleIndicators .carousel-inner .carousel-item div div .d-block {
    max-width: 170px;
    height: auto;
  }
  #carouselExampleIndicators .carousel-inner .carousel-item div .logoSlider {
    max-width: 115px;
    height: auto;
  }
  .contenedorFormulario {
    padding: 1em;
  }
  footer {
    background-color: rgb(146, 63, 139);
  }
  footer .footerCentral {
    display: none;
  }
  footer .footerIzquierda ul li {
    list-style: none;
  }
  .bootstrapForm {
    background-color: rgba(207, 118, 200, 0.346);
  }
}
@media (min-width: 741px) and (max-width: 1024px) {
  header .baner {
    width: 100%;
    height: auto;
  }
  header nav .btn-group {
    display: none;
  }
  header nav .nav {
    flex-direction: row;
    justify-content: center;
  }
  header nav .nav .nav-item {
    margin-right: 0.5em;
  }
  footer {
    background-color: rgb(146, 63, 139);
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  footer .footerCentral {
    display: none;
  }
  footer .footerIzquierda ul li {
    list-style: none;
  }
  .contenedorFormulario {
    padding: 1.5em;
  }
  .contenedorFormulario .bootstrapForm {
    background-color: rgba(207, 118, 200, 0.346);
  }
}
@media (min-width: 1025px) {
  header .baner {
    width: 100%;
    height: auto;
  }
  header nav .btn-group {
    display: none;
  }
  header nav .nav {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  header nav .nav .nav-item {
    margin-right: 1em;
  }
  .contenedorFormulario {
    padding: 2em;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(146, 63, 139);
  }
  footer .footerCentral {
    margin-bottom: 0;
  }
  footer .footerDerecha {
    margin-bottom: 0;
  }
  footer .footerIzquierda {
    margin-bottom: 0;
  }
  footer .footerIzquierda ul li {
    list-style: none;
  }
  .bootstrapForm {
    background-color: rgba(207, 118, 200, 0.346);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    flex-direction: column;
    background-color: rgb(146, 63, 139);
  }
  footer .footerCentral {
    align-items: start;
  }
  footer .footerIzquierda ul li {
    list-style: none;
  }
  .bootstrapForm {
    background-color: rgba(207, 118, 200, 0.346);
  }
}

/*# sourceMappingURL=main.css.map */
