@import "base/reset";
@import "utilities/variables";
@import "base/fonts";
@import "base/typography";
@import "layout/body";
@import "layout/footer";
@import "layout/header";
@import "views/cafeteria";
@import "views/contacto";
@import "views/index";
@import "views/nuestrastiendas";
@import "views/nuestros_granos";
@import "views/pasteleria";
@import "components/buttons";

@media (max-width: 740px) {
  header{
    .baner{
      width: 100%;
      height: auto;
    }
    nav{
      .nav {
      flex-direction: column;
      text-align: center;
      display: none;
      .nav-item {
        margin-bottom: 1em;
        }
      }
    }
  }
  #carouselExampleIndicators{
    .carousel-inner{
      .carousel-item{
        div {
          div{
            .d-block{
              max-width: 170px;
              height: auto;
            }
          }
          .logoSlider{
            max-width: 115px;
            height: auto;
          }
        }
      }
    } 
  } 
  .contenedorFormulario {
    padding: 1em;
}

footer {
    background-color: rgb(146, 63, 139);
    .footerCentral{
      display: none;
    }
    .footerIzquierda ul li{
      list-style: none;
    }
}

.bootstrapForm{
  background-color: rgba(207, 118, 200, 0.346);
}
}
@media (min-width: 741px) and (max-width: 1024px) {
  header{
    .baner {
      width: 100%;
      height: auto;
    }
    nav{
      .btn-group{
        display: none;
      }
      .nav {
        flex-direction: row;
        justify-content: center;
        .nav-item {
          margin-right: 0.5em;
        }
      } 
    }
  }

  footer {
    background-color: rgb(146, 63, 139);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .footerCentral{
      display: none;
    }
    .footerIzquierda ul li{
      list-style: none;
    }
  }

  .contenedorFormulario {
      padding: 1.5em;
      .bootstrapForm{
        background-color: rgba(207, 118, 200, 0.346);
      }
  }
}
@media (min-width: 1025px) {
  header{
    .baner {
      width: 100%;
      height: auto;
    }
    nav{
      .btn-group{
        display: none;
      }
      .nav {
        flex-direction: row;
        flex-wrap: nowrap;
        .nav-item {
          margin-right: 1em;
      }
    }
    }
  }

  .contenedorFormulario {
      padding: 2em;
  }

  footer {
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(146, 63, 139);
      .footerCentral{
        margin-bottom: 0;
      }
      .footerDerecha{
        margin-bottom: 0;
      }
      .footerIzquierda{
        margin-bottom: 0;
        ul li{
          list-style: none;
        }
      }
  }

  .bootstrapForm{
    background-color: rgba(207, 118, 200, 0.346);
  }
  
}
@media (min-width: 769px) and (max-width:1024px){
  footer{
    flex-direction: column;
    background-color: rgb(146, 63, 139);
    .footerCentral{
      align-items: start;
    }
    .footerIzquierda ul li{
      list-style: none;
    }
  }
  .bootstrapForm{
    background-color: rgba(207, 118, 200, 0.346);
  }
}

