@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

@mixin flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@mixin flex-column-aligncenter{
    display: flex;
    flex-direction: column;
    align-content: center;
}