$color-bg:rgb(16, 68, 38);
$color-bg-secondary: rgba(33, 128, 73, 0.712);
$color-slider-1: rgb(49, 112, 133);
$color-slider-2: rgb(63, 119, 48);
$color-slider-3: rgb(248, 142, 3);
$background-footer: #020e36;
$font-color-primary: white;