footer {
    @include flex-row-center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    border: solid 3px black;
    background: $background-footer;
  
    .footerDerecha {
      order: 3;
      h3,p{
        color: white;
      }
    }
  
    .footerCentral {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      label {
        color: white;
      }
    }
    
    textarea {
      width: 300px;
      height: 100px;
      resize: none;
      padding-bottom: 10px;
      display: inline;
      margin-top: 15px;
      border: 2px solid black;
    }
  
    .footerIzquierda {
      order: 1;
      h3,p{
        color: white;
      }
  
      ul {
        display: flex;
        justify-content: left;
  
        li {
          list-style: none;
  
          .icono {
            width: 40px;
            margin: 10px;
          }
          .icono:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  @media (max-width: 740px) {

    footer {
        .footerCentral{
          display: none;
        }
        .footerIzquierda ul li{
          list-style: none;
        }
    }
  }    
  @media (min-width: 741px) and (max-width: 1024px) {
    footer {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .footerCentral{
        display: none;
      }
      .footerIzquierda ul li{
        list-style: none;
      }
    }
  }
  @media (min-width: 1025px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
        .footerCentral{
          margin-bottom: 0;
        }
        .footerDerecha{
          margin-bottom: 0;
        }
        .footerIzquierda{
          margin-bottom: 0;
          ul li{
            list-style: none;
          }
        }
    }
  }
  @media (min-width: 769px) and (max-width:1024px){
    footer{
      flex-direction: column;
  
      .footerCentral{
        align-items: start;
      }
      .footerIzquierda ul li{
        list-style: none;
      }
    }
  }