.contenedorGranos {
    background-color: $color-bg-secondary;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    .granos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    
      img {
        max-width: 300px;
        border: solid 2px black;
        border-radius: 3%;
      }
    
      div {
        background-color: $color-bg;
        border: solid 2px black;
        border-radius: 3%;
        padding: 5px;
      }
    }
  
    .contenedorTabla {
      display: flex;
      justify-content: center;
    }
    
      table {
        width: 100%;
        border-collapse: collapse;
      }
      
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        text-wrap: wrap;
      }
      
      th {
        background-color: #f2f2f2;
      }
      
      .tabla {
        background-color: rgb(247, 186, 236);
        border-radius: 3%;
        max-width: 100%;
      }
  }
.contenedorMapas {
    border: solid 2px black;
    border-radius: 3%;
    background-color: $color-bg-secondary;
    .tituloSeccionMapa {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .bebida {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 20px 10px 20px 10px;
      justify-content: space-evenly;
      gap: 15px;
  
      iframe {
        border-radius: 4%;
      }
    }
  }
.contenedorFormulario {
    display: grid;
    justify-items: center;
    height: 100dvh;
    .bootstrapForm {
      padding: 15px;
      border: solid 2px rgba(0, 0, 0, 0.5);
      margin: 20px 0;
      border-radius: 3%;
      background-color: $color-bg-secondary;
      label {
        color: black;
      }
    }
  }
header{
    .baner {
      height: 225px;
      width: auto;
      padding: 0px;
      overflow: hidden;
      display: block;
    }
    
    .Logoheader {
      height: 100px;
      border: 1px solid white;
      display: block;
      border-radius: 5%;
    }
    nav {
      background-color: black;
      ul li {
        list-style: none;
      }
      .nav-item {
        align-content: center;
      }
    }
    
  }
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    border: solid 3px black;
    background: linear-gradient(to bottom,rgb(107, 60, 107),rgb(248, 18, 248));
  
    .footerDerecha {
      order: 3;
    }
  
    .footerCentral {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      label {
        color: black;
      }
    }
  
    textarea {
      width: 300px;
      height: 100px;
      resize: none;
      padding-bottom: 10px;
      display: inline;
      margin-top: 15px;
      border: 2px solid black;
    }
  
    .footerIzquierda {
      order: 1;
  
      ul {
        display: flex;
        justify-content: left;
  
        li {
          list-style: none;
  
          .icono {
            width: 40px;
            margin: 10px;
          }
        }
      }
    }
  }