.contenedorFormulario {
    display: grid;
    justify-items: center;
    height: 100dvh;
    .bootstrapForm {
      padding: 15px;
      border: solid 2px rgba(0, 0, 0, 0.5);
      margin: 20px 0;
      border-radius: 3%;
      background-color: $color-bg-secondary;
      label {
        color: white;
      }
      .btn:hover {
        background-color: $color-bg;
      }
      h1{
        color: white;
      }
      .form-text{
        color: white;
      }
    }
    
  }
  main {
    background-image: url(../assests/images/background-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100dvh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
@media (max-width: 740px) {
  .contenedorFormulario {
    padding: 1em;
    height: auto;
  }
    .bootstrapForm{
      background-color: $color-bg-secondary;
  }
}
@media (min-width: 741px) and (max-width: 1024px) {
  .contenedorFormulario {
      padding: 1.5em;
      .bootstrapForm{
        background-color: $color-bg-secondary;
      }
  }
}

@media (min-width: 1025px) {
  .contenedorFormulario {
      padding: 2em;
  }
  .bootstrapForm{
    background-color: $color-bg-secondary;
  } 
}
@media (min-width: 769px) and (max-width:1024px){
  .bootstrapForm{
    background-color: $color-bg-secondary;
  }
}