.fondo {
  background-image: url(../assests/images/centro-grande.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;

  .animate__animated {
    margin-bottom: auto;
    font-size: 50px;
    color: white;
  }
}

#carouselExampleIndicators {
  width: 100%;
  overflow: hidden;

  .carousel-indicators {
    transform: translate(0px, 13px);
  }

  .carousel-inner {
    width: 100%;
    background-color: rgba(207, 118, 200, 0.65);

    .carousel-item {
      div {
        display: flex;
        justify-content: space-around;

        .precio {
          background-color: black;
          font-style: inherit;
          color: white;
          border-radius: 50%;
          max-height: 50%;
          margin: 0px;
          display: inline;
          align-self: start;
          padding: 8px;
          transform: translate(-60px, 10px) rotate(16deg);
        }

        .logoSlider {
          max-height: 150px;
        }

        .textoSlider {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-around;
        }
      }

      .azul {
        background: linear-gradient(to right, rgb(49, 112, 133), black);
      }

      .verde {
        background: linear-gradient(to right, rgb(63, 119, 48), black);
      }

      .naranja {
        background: linear-gradient(to right, rgb(248, 142, 3), black);
      }

      img {
        max-height: 150px;
        width: auto;
      }
    }
  }
}
