.contenedorGranos {
    background-color: $color-bg-secondary;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 5px;
    border-radius: 2%;
    border: solid 2px black;

  .granos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    img {
      max-width: 300px;
      border: solid 2px black;
      border-radius: 3%;
    }
    .cardGranos:hover {
      transform: scale(1.01);
      box-shadow: 1px 3px 3px 1px black;
    }
    
    .cardGranos {
      background-color: $color-bg;
      border: solid 2px black;
      border-radius: 3%;
      padding: 5px;
      margin: 10px;
    }
  }
  .parrafoYlista{
    ul {
      background-color: $color-bg;
      font-size: 100%;
      color: black;
      border: solid 2px black;
      border-radius: 3%;
      margin-top: 15px;
    }
  }

  .contenedorTabla {
    @include flex-row-center;
    .tabla {
      background-color: rgb(247, 186, 236);
      border-radius: 3%;
      width: 100%;
      border-collapse: collapse;
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
        text-wrap: wrap;
      }
      th {
        background-color: #f2f2f2;
      }
    }
  }
}

  main {
    background-image: url(../assests/images/background-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100dvh;
    padding: 20px 0;
    @include flex-column-start;
  }

  @media (max-width: 740px) {
  .granos{
    @include flex-column-aligncenter;
    .cardGranos{
      display: block;
    }
  }
}