.contenedorMapas {
    border: solid 2px black;
    border-radius: 3%;
    background-color: $color-bg-secondary;
    .tituloSeccionMapa {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .bebida {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 20px 10px 20px 10px;
      justify-content: space-evenly;
      gap: 15px;
  
      iframe {
        border-radius: 4%;
      }
    }
  }
  main {
    background-image: url(../assests/images/background-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100dvh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  
  .bebida {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 10px 20px 10px;
    justify-content: space-evenly;
    gap: 15px;
  
    img {
      height: 200px;
      border: solid 6px rgb(90, 12, 35);
      border-radius: 2%;
    }
  }