.textoSlider{
    h2, p {
        color: white;
      }
}
.granos{
    h2 {
        margin: 0;
      }
}
.parrafoYlista {
  p {
    background-color: $color-bg;
    border: solid 2px black;
    border-radius: 3%;
  }
}
.bebidasCalientes{

    .bebida{
        p {
            align-content: center;
            background-color: $color-bg;
            border: solid 1px black;
            border-radius: 2%;
            color: white;
            text-wrap: wrap;
            font-size: 130%;
          }
    }
}
.pasteleria{
  .comida{
    p {
      align-content: center;
      background-color: $color-bg;
      border: solid 1px black;
      border-radius: 2%;
      color: white;
      text-wrap: wrap;
      font-size: 130%;
      padding: 0px 10px;
    }
  }
}
.contenedorMapas{
    .bebida{
        p {
            align-content: center;
            background-color: $color-bg;
            border: solid 1px rgb(70, 49, 68);
            border-radius: 2%;
          }
    }
}
@media (max-width: 740px) {
  #carouselExampleIndicators{
    .carousel-inner{
      .carousel-item{
        .azul, .naranja, .verde{
        .textoSlider{
          display: none;
        }
      }
      }
    }
  }
}