.textoSlider{
    h2, p {
        color: $font-color-primary;
      }
}
.granos{
    h2 {
        margin: 0;
        color: $font-color-primary;
      }
    .cardGranos{
      p{
        color: $font-color-primary;
        margin: 0;
      }
    }
}
.parrafoYlista {
  p {
    background-color: $color-bg;
    border: solid 2px black;
    border-radius: 3%;
    color: $font-color-primary;
    margin: 0;
    padding: 10px;
  }
  ul{
    margin: 0;
    padding: 10px;
  
    li{
      color: $font-color-primary;
      padding: 10px;
      list-style: none;
    }
  }
}
.bebidasCalientes{

    .bebida{
        p {
            align-content: center;
            background-color: $color-bg;
            border: solid 1px black;
            border-radius: 2%;
            color: $font-color-primary;
            text-wrap: wrap;
            font-size: 130%;
          }
    }
}
.pasteleria{
  .comida{
    p {
      align-content: center;
      background-color: $color-bg;
      border: solid 1px black;
      border-radius: 2%;
      color: $font-color-primary;
      text-wrap: wrap;
      font-size: 130%;
      padding: 0px 10px;
    }
  }
}
.contenedorMapas{
  .tituloSeccionMapa {
    color: $font-color-primary;
  }  
  .bebida{
        p {
            align-content: center;
            background-color: $color-bg;
            border: solid 1px rgb(70, 49, 68);
            border-radius: 2%;
            color: $font-color-primary;
            padding: 0px 15px;
          }
    }
}
.dropdown-item {
  background-color: $color-bg;
  color: white;
  &:hover{
    background-color: $color-bg-secondary;
  }
}
.dropdown-menu {
  padding: 0;
  border-radius: 1%;
}
.fondo{
    .texto-home{
      font-size: 40px;
      color: white;
      padding-left: 30px;
      margin-bottom: auto;
    }
  }
